.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body *{
  box-sizing: border-box;
}

.flex{
  display: flex;
}

ul{
  text-align: center;
  list-style: none;
}

li{
  text-align: center;
}

.menu_list div{
  text-align: center;
}

.sub_menu{
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
}

.main_header li{
  padding: 0;
}

.main_header li div{
  text-align: center;
}

.header {
  background: #fff
}

.wrap {
  height: 100%;
  width: 100%;
  margin: 30px 0;
  position: relative;
  flex-direction: column;
}

.main_bnr{
  justify-content: space-around;
  width: 100%;
  height: 430px;
  overflow: hidden;
  position: relative;
}

.main_slide_nav{
  background-color: rgba(48, 50, 75, 0.6);
  height: 100%;
  display: flex;
}

.inner {
  max-width: 1180px;
  min-width: 1180px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.main_bnr img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.main_slide_wrap{
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background: rgba(48, 50, 75, 0.6);
  color: #fff;
  position: relative;
  z-index: 7;
}

.nav_title{
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  font-weight: bold;
  background: rgba(48, 50, 75, 0.8);
  color: #fff;
  font-size: 16px;
}

.main_nav_list ul{
  padding: 0 !important;
  margin: 0 !important;
}
h3, h5{
  margin: 0;
}

.nav_list{
  background-color: #e118a9;
  height: 60px;
  text-align: center !important;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  line-height: 1.2;
  cursor: pointer;
  color:white;
}

.main_banner_list {
  display: flex;
  height: 430px;
}

.main_event_slide {
  width: 27%;
  height: 430px;
}

.main_banner_list{
  position: relative;
  height: 430px;
  display: flex;
}

.content_wrap img{
  position: relative;
  margin-left: 1%;
  height: 430px;
}

.pro_txt_wrap{
  color: white;
  flex-direction: column;
  align-items: flex-end;
}

.pro_txt_wrap h2{
  text-align: right;
}

.pro_txt_wrap ul{
  display: flex;
}

.pro_txt_wrap li{
  list-style: none;
  margin: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
}

.pro_txt_wrap li:first-child{
  background-color: #e118a9;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

.main_sub_menu{
  position: relative;
}

.main_sub_banner{
  position: relative;
}

.firstTime_tit{
  height: 100%;
  font-size: 20px;
  line-height: 1.2;
  padding: 15px;
}

.firstTime_x1{
  display: flex;
  max-width: 1180px;
  min-width: 1180px;
  width: 100%;
  height: 100%;
  margin: 0 auto 30px;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  padding: 15px;
}

.firstTime_list ul{
  list-style: none;
  display: flex;
}
.firstTime_list li {
  flex:1;
  text-align: center;
  padding-left: 60px;
  font-size: 16px;
  font-family: bold;
  width: 250px;
}
.slick-slider{
  text-align:center;
  height: 400px;
  margin: 10px;
  background-color: aquamarine;
}

.location{
  display: flex;
  justify-content: flex-end;
  margin: 20px;  
}

#login_text h2{
  margin: 0;
}

.sub_container{
  width: 980px !important;
}

#login_text{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}

.login_box{
  display: flex;
  margin:20px 40px;
  border: 1px solid black;
  padding: 40px 0;
}

form{
  display: flex;
  flex-direction: column;
  margin:0 auto;
}

#login{
  display: flex;
  margin:0 auto;

}

#login_input{
  display: flex;
  flex-direction: column;
}

#login_input input{
  width: 405px;
  border: 1px solid #dbdbdb;
  padding: 15px;
  font-size: 24px;
  color: #dc0082;
  width: 405px;
  margin-bottom: 10px;
}

#login_button button{
  width: 135px;
  height: 130px;
  margin-left: 10px;
}

#join {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

#join_form input{
  margin: 20px 0;
}